
/* Basic styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


  main,
  footer {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    padding-top: 3rem;
    background-color: #004231;
  }
  
  h2 {
    margin-bottom: 1rem;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  /* Navigation bar */
  .nav-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 60px;
    width: auto;
    position: relative;
    background-color: #ebffe5;
  }
  
  .nav-logo {
    flex: 0 0 auto; /* Fix logo width */
    padding-left: 150px;
    width: 50px;
    height: auto;
    align-items: center;
  }
  
  .nav-menu {
    flex: 1; /* Allow menu to fill remaining space */
    text-align: right; /* Align menu items to the right */
    padding-right: 170px;
    justify-content: space-between;
    
  }
  
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    display: inline-block;
    margin-left: 5rem;
  }
  
  .nav-menu a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

  }
  
  .nav-menu a:hover {
    color: #004231;
  }
  
.hero-section{
    background-color: #ffffff;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    height: 500px;
    padding-top: 70px;
}
.hero-sec-items{
    align-items: center;;
    justify-content: space-between;
    padding-left: 330px;

}
.data{
  justify-content: space-between;

}
.status{
  padding: 0;
  margin: 0;
}
  /* Content Sections */
  .plant-data{
    background-color: #e0f2f1;
    border: 1px solid #ddd;
    padding: 10rem;
    margin-bottom: 1rem;
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
  }

.system-status1{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 45%;
    border: 1px solid #ddd;
    float: left;
}
.system-status2{
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 45%;
  border: 1px solid #ddd;
  float: right;
}
.topic{
  float: left;
  font-size: 30px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 100px;
  margin: 0;
  font-weight: 700;
  text-shadow: 5px -3px 5px #D9D9D9;
}

#system-status{
  float: right;
  padding-right: 300px;
  font-size: 35px;
  font-weight: 800;
  margin: 0;  
}
#watering-status{
  float: right;
  padding-right: 300px;
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

  /* Plant Data Form */
  .plant-data form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 0.5rem; /* Add some space between form elements */
  }
  
  .plant-data-form label {
    width: 120px;
    margin-right: 0.5rem;
  }
  
  /* Plant Table */

  
  .plant-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .plant-table tr:nth-child(odd) {
    background-color: #f5f5f5; /* Lighter background color for odd rows */
  }
  .plant-table tr:nth-child(even) {
    background-color: #cacaca; /* Lighter background color for odd rows */
  }
  
  .plant-table th{
    position: sticky;
    padding-top: 15px;
  }
  .plant-table{
    overflow-y: auto;
    height: 430px;
    border-radius: 20px;

  }
  .plant-table td{
    padding: 0.5rem;
    text-align: center;
    height: 2.5rem;
    border-bottom: 1px solid #000000;
  }
  .plant-table tr:last-child td{
    border: none;
  }

  .plant-table::-webkit-scrollbar{
    width: 10px;
  }
  .plant-table::-webkit-scrollbar-track{
    border-radius: 8px;
    background-color: #e7e7e7;
  }
  .plant-table::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #656565;
  }
  /* .plant-table th,
  .plant-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
  } */

  
  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .social-links,
  .legal-links {
    display: flex;
    gap: 1rem;
  }
  
  .social-links img,
  .legal-links a {
    color: #333;
    text-decoration: none;
  }
  
  .social-links img {
    width: 24px;
    height: 24px;
  }
  